:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #f8fafc;
  --black: #1e293b;

  --bg: #f8fafc;
  --neutral-light: #ddd;
  --color: #1e293b;
  --link-color: #3d82f3;

  --container-width: 770px;
  --padding: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #f8fafc;
    --neutral-light: #595e67;
    --bg: #393e47;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--bg);
  color: var(--color);
  font-size: 18px;
}

header {
  padding: var(--padding);
  padding-bottom: 0;
  max-width: var(--container-width);
  margin: 0 auto;
}

header a {
  font-size: 15px;
  color: var(--color);
  text-decoration: none;
  border-bottom: 1px solid var(--neutral-light);
  transition: border-color 250ms;
}

header a:hover {
  border-bottom-color: var(--link-color);
}

h1 {
  font-weight: 900;
}

.content {
  max-width: 500px;
}
